@charset "ISO-8859-1";

label{
    display: inline-block;
    float: none;
    width: 150px;
    text-align: right;
}
input[type="text"], input[type="password"] {
  	display: inline-block;
 	float: none;
}
input[type="submit"] {
  	display: inline-block;
  	margin-left: 110px;
}
.nav-item li {
	list-style: none !important;
}
.nav-item a {
	color: #fff;
}