<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.student.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/views/student/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.student.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/views/student/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseListController</display-name>
    <servlet-name>CourseListController</servlet-name>
    <servlet-class>controller.student.CourseListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListController</servlet-name>
    <url-pattern>/views/student/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseContentController</display-name>
    <servlet-name>CourseContentController</servlet-name>
    <servlet-class>controller.student.CourseContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseContentController</servlet-name>
    <url-pattern>/views/student/coursepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginInstructor</display-name>
    <servlet-name>LoginInstructor</servlet-name>
    <servlet-class>controller.instructor.LoginInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginInstructor</servlet-name>
    <url-pattern>/views/instructor/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterInstructor</display-name>
    <servlet-name>RegisterInstructor</servlet-name>
    <servlet-class>controller.instructor.RegisterInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInstructor</servlet-name>
    <url-pattern>/views/instructor/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>controller.admin.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/views/admin/login</url-pattern>
  </servlet-mapping>
</web-app>