<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.student.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/views/student/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.student.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/views/student/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseListController</display-name>
    <servlet-name>CourseListController</servlet-name>
    <servlet-class>controller.student.CourseListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListController</servlet-name>
    <url-pattern>/views/student/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseContentController</display-name>
    <servlet-name>CourseContentController</servlet-name>
    <servlet-class>controller.student.CourseContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseContentController</servlet-name>
    <url-pattern>/views/student/coursepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginInstructor</display-name>
    <servlet-name>LoginInstructor</servlet-name>
    <servlet-class>controller.instructor.LoginInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginInstructor</servlet-name>
    <url-pattern>/views/instructor/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterInstructor</display-name>
    <servlet-name>RegisterInstructor</servlet-name>
    <servlet-class>controller.instructor.RegisterInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInstructor</servlet-name>
    <url-pattern>/views/instructor/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>controller.admin.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/views/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstructorApproval</display-name>
    <servlet-name>InstructorApproval</servlet-name>
    <servlet-class>controller.admin.InstructorApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorApproval</servlet-name>
    <url-pattern>/views/admin/instructor_approval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstructor</display-name>
    <servlet-name>AddInstructor</servlet-name>
    <servlet-class>controller.admin.AddInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructor</servlet-name>
    <url-pattern>/views/admin/add_instructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstructorApprovalController</display-name>
    <servlet-name>InstructorApprovalController</servlet-name>
    <servlet-class>controller.admin.InstructorApprovalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorApprovalController</servlet-name>
    <url-pattern>/views/admin/approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseController</display-name>
    <servlet-name>AddCourseController</servlet-name>
    <servlet-class>controller.instructor.AddCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseController</servlet-name>
    <url-pattern>/views/instructor/add_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddModuleController</display-name>
    <servlet-name>AddModuleController</servlet-name>
    <servlet-class>controller.instructor.AddModuleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddModuleController</servlet-name>
    <url-pattern>/views/instructor/add_module</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCoursesController</display-name>
    <servlet-name>MyCoursesController</servlet-name>
    <servlet-class>controller.student.MyCoursesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCoursesController</servlet-name>
    <url-pattern>/views/student/mycourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileController</display-name>
    <servlet-name>EditProfileController</servlet-name>
    <servlet-class>controller.student.EditProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileController</servlet-name>
    <url-pattern>/views/student/editprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.student.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/views/student/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPicture</display-name>
    <servlet-name>UploadPicture</servlet-name>
    <servlet-class>controller.student.UploadPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPicture</servlet-name>
    <url-pattern>/views/student/upload_picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEnrollController</display-name>
    <servlet-name>CourseEnrollController</servlet-name>
    <servlet-class>controller.student.CourseEnrollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEnrollController</servlet-name>
    <url-pattern>/views/student/enrollnow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstructorCoursesController</display-name>
    <servlet-name>InstructorCoursesController</servlet-name>
    <servlet-class>controller.instructor.InstructorCoursesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorCoursesController</servlet-name>
    <url-pattern>/views/instructor/mycourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalCourseList</display-name>
    <servlet-name>ApprovalCourseList</servlet-name>
    <servlet-class>controller.admin.ApprovalCourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalCourseList</servlet-name>
    <url-pattern>/views/admin/course_approval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveCourses</display-name>
    <servlet-name>ApproveCourses</servlet-name>
    <servlet-class>controller.admin.ApproveCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveCourses</servlet-name>
    <url-pattern>/views/admin/approve_course</url-pattern>
  </servlet-mapping>
</web-app>